/******************************************************************
Stylesheet: Desktop Stylsheet
******************************************************************/

/*
[data-type="parallax"] {
	background-attachment: fixed;
}
*/

#logo img {
  max-width: 100%;
}
