@font-face {
	font-family: 'bbp-icons';
	src:url('../fonts/bbp-icons.eot?nq1i1m');
	src:url('../fonts/bbp-icons.eot?nq1i1m#iefix') format('embedded-opentype'),
		url('../fonts/bbp-icons.ttf?nq1i1m') format('truetype'),
		url('../fonts/bbp-icons.woff?nq1i1m') format('woff'),
		url('../fonts/bbp-icons.svg?nq1i1m#bbp-icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'bbp-icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

[class*="icon-arrow-"] {
  cursor: pointer;
}

$icon-navy: #004c65;
$icon-green: #617a31;
$icon-aqua: #00777c;
$icon-orange: #f26122;


.icon-audio-tour:before {
	content: "\e61b";
}
.icon-mail:before {
	content: "\e61a";
}
.icon-facebook:before {
	content: "\e600";
}
.icon-twitter:before {
	content: "\e601";
}
.icon-flickr:before {
	content: "\e602";
}
.icon-instagram:before {
	content: "\e603";
}
.icon-arrow-left:before {
	content: "\e604";
}
.icon-arrow-right:before {
	content: "\e605";
}
.icon-arrow-up:before {
	content: "\e606";
}
.icon-arrow-down:before {
	content: "\e607";
}
.icon-map-art:before {
	content: "\e608";
	color: $icon-aqua;
}
.icon-map-bathroom:before {
	content: "\e609";
	color: $icon-navy;
}
.icon-map-boatlaunch:before {
	content: "\e60a";
	color: $icon-green;
}
.icon-map-bridge:before {
	content: "\e60b";
	color: $icon-navy;
}
.icon-map-building:before {
	content: "\e60c";
	color: $icon-aqua;
}
.icon-map-cemetery:before {
	content: "\e60d";
	color: $icon-aqua;
}
.icon-map-discgolf:before {
	content: "\e60e";
  color:$icon-green;
}
.icon-map-fitness:before {
	content: "\e60f";
	color: $icon-green;
}
.icon-map-future:before {
	content: "\e610";
	color: $icon-orange;
}
.icon-map-handicap:before {
	content: "\e611";
	color: $icon-navy;
}
.icon-map-landmark:before {
	content: "\e612";
	color: $icon-aqua;
}
.icon-map-park:before {
	content: "\e613";
	color: $icon-green;
}
.icon-map-parking:before {
	content: "\e614";
	color: $icon-navy;
}
.icon-map-recreation:before {
	content: "\e615";
	color: $icon-green;
}
.icon-map-skate:before {
	content: "\e616";
	color: $icon-green;
}
.icon-map-stairs:before {
	content: "\e617";
	color: $icon-navy;
}
.icon-map-tennis:before {
	content: "\e618";
	color: $icon-green;
}
.icon-map-water:before {
	content: "\e619";
	color: $icon-navy;
}
